header {
    display: flex;
    align-items: right;
    border-bottom: 3px solid black;
    margin: 0;
    padding: 0;
}

header a {
    margin: 10px 0;
    padding: 10px 20px 10px 20px;
    text-align: center;
}

header>h1 {
    flex-grow: 1;
}

.imgs {
    text-align: center;
}

img {
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.map-links {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}

.map-links>a {
    flex-grow: 1;
    border: 2px solid black;
    padding: 20px 0px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #707070;
    font-size: 3rem;
}

#TMAP-btn {
    border-right: none;
}
